.bubble {
  border-radius: 30px;
  padding: 12px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  max-width: 600px;
}

.bubble {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.bubble:last-child:before,
.bubble:nth-last-child(2):before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -12px;
  height: 26px;
  width: 30px;
  background: #eee;
  border-bottom-right-radius: 20px;
}

.bubble:last-child:after,
.bubble:nth-last-child(2):after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -15px;
  width: 15px;
  height: 27px;
  background: #00a000;
  border-bottom-right-radius: 15px;
}
