.bubble {
  width: 100%;
  color: var(--bubble-color);
}

.bubble-content {
  border-radius: 30px;
  padding: 12px 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: inline-block;
  max-width: 600px;
  background-color: #eee;
}

.bubble-content {
  margin-right: 25%;
  position: relative;
  overflow-wrap: break-word;
}

