.bubble.input {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.bubble.input.submitted {
  transition: none;
}

.bubble.input.empty {
  opacity: 0;
}

.bubble.input > div {
  border: none;
  outline: none;
  background-color: #eee;
  font-size: 32px;
  min-width: 30px;
}
