:root{
  --bubble-background-color: #eee;
  --bubble-color: #000;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://i.pinimg.com/564x/34/9c/f1/349cf1ba173e14a3153a78037683333a.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}
